<div class="container mt-5 pt-5 pb-5 mb-5 m-auto">
  <div class="row justify-content-center">

    <div *ngFor="let i of products" class="col-xs-12 col-sm-5 col-lg-4 mt-4 d-flex justify-content-center">
      <div class="card">
        <a href="{{i.primaryUrl}}" target="_blank">
       <!-- [ngClass]="isFirst ? 'feturedProduct' : ''" class="showcaseBackground mb-2"  [style.background-image]="'url(' + i.showcaseImageUrl +')'"> -->
          <img src="{{i.showcaseImageUrl}}" alt="{{i.name}}" class="card-image-top showcaseBackground">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.description}}</p>
        </div>
      </div>
    </div>

  </div>
</div>
