<div class="container mt-5">
  <div class="flag-row">
    <div class="flag-image">
      <img src="assets/Images/obj_artist_happy.png" alt="Image 1">
    </div>
    <div class="flag-text">
      <h2>Ball Art: Bouncing Balls</h2>
      <p> Try your hand at a game where playing it is like a work of art. Actually, not just like work of art, with every time oyuj play you create a unique piece of art, that you can claim as your own</p>
    </div>
  </div>

  <div class="flag-row">
    <div class="flag-text">
      <h2>Item Title 2</h2>
      <p>Description for Item 2.</p>
    </div>
    <div class="flag-image">
      <img src="assets/Images/obj_artist_happy.png" alt="Image 2">
    </div>
  </div>

  <!-- Add more flag-rows here -->

</div>
