.showcaseBackground{
 background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  width: 100%;
}

.showcaseBackground .feturedProduct{

}

@media screen and (min-width: 320px) {
  .showcaseBackground{
    max-height: 170px;
  }
}

@media screen and (min-width: 575px) {
  .showcaseBackground{
    max-height: 70px;
  }
}

@media screen and (min-width: 768px) {
  .showcaseBackground{
    max-height: 100px;
  }
}

@media screen and (min-width: 1200px) {
 .showcaseBackground{
    max-height: 125;
 }
}

@media screen and (min-width: 1400px) {
 .showcaseBackground{
   max-height: 145px;
 }
}
