<div class="container p-4 m-auto">
  <div class="row justify-content-center">
    <div *ngFor="let i of products" class="col-xs-12 col-sm-4 col-lg-3 mt-2 d-flex justify-content-center">
      <div class="card">
        <a href="{{i.primaryUrl}}">
       <!-- [ngClass]="isFirst ? 'feturedProduct' : ''" class="showcaseBackground mb-2"  [style.background-image]="'url(' + i.showcaseImageUrl +')'"> -->
          <img src="{{i.showcaseImageUrl}}" alt="{{i.name}}" class="card-image-top showcaseBackground">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.description}}</p>
        </div>
      </div>
    </div>
   </div>
</div>
