 .app-banner {
  position: relative;
  z-index: 10;
}
.app-banner-item {
  position: absolute;
  right: 10%;
  bottom: 0rem;
  margin: 5px 5px;
}

.main-header-img {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}


/* p{
  overflow: hidden;
} */
