<div class="container-fluid">
  <div class="row">

    <img src="\assets\Images\NewWoodenDesignWithArtistAndBallsFeaturedArtStore.png" alt="" class="main-header-img">

    <div class="app-banner">
      <div class="app-banner-item">
        <a href="https://play.google.com/store/apps/details?id=com.ImmersiPi.BABAP" target="_blank">
          <img src="\assets\Images\google-play-badge.png" alt="">
        </a>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="row justify-content-center">

    <div class="col-lg-4 m-5">
      <app-featured-game></app-featured-game>
    </div>

    <div class="col-lg-4 m-5">
      <app-products></app-products>
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-lg-3 m-5">
      <app-about-page-card></app-about-page-card>
    </div>

    <div class="col-lg-3 m-5">
      <app-news-page-card></app-news-page-card>
    </div>

  </div>
</div>


<div class="px-4 py-5 my-5 text-center">
  <img src="assets\Images\FirstCompanyLogoBluleish.png" alt="Logo" class="d-block mx-auto mb-4" width="72" height="72">
  <h1 class="display-5 fw-bold brand-text">ImmersiPi</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      At ImmersiPi, we believe that life should be an adventure, an escape from the ordinary. Our mission is to deliver
      cutting-edge products that immerse people into their surroundings, taking them on incredible journeys beyond
      imagination. With a primary focus on captivating games, we aspire to revolutionize entertainment and redefine the
      way you experience the world around you.
    </p>
  </div>
</div>
