.app-banner {
  position: relative;
  z-index: 10;
}
.app-banner-item {
  position: absolute;
  right: 10%;
  bottom: 50px;
  margin: 5px 5px;
}

.app-banner-item a img {
  max-width: 400px;
}

.main-header-img {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}

/* p{
  overflow: hidden;
} */
