<div class=" bg-image" style="background-image: url('assets/Images/NewWoodenDesignWithArtistAndBallsFeaturedArtStore.png'); background-size: 100%; background-position: center; background-repeat:no-repeat;">

  <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 bg-light border-start border-top border-white rounded-start p-4" style="clip-path: polygon(100% 0, 100% 100%, 0% 100%);">
        <h1 class="mb-4">Welcome to ImmersiPi</h1>
        <p>
          At ImmersiPi, we believe that life should be an adventure, an escape from the ordinary.
        </p>
        <div class="text-center">
          <button class="btn btn-primary btn-lg mt-3">Explore Now</button>
        </div>
      </div>
    </div>
  </div>

