<div
  class="bg-info bg-gradient bg-opacity-10 border-start border-top border-dark border-5 rounded-startrounded-3 align-items-center justify-content-center mb-4 p-3">

  <div class="row">
    <div class="bg-image rounded col-5"
      style="background-image: url('assets/Images/obj_artist_happy.png'); background-size: contain; background-position: left; background-repeat:no-repeat;">
    </div>
    <div class="col-5">
      <h1 class="mb-4">Featured Game</h1>
      <p class="text-end">
        Play Ball Art
      </p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg mt-3">Explore Now</button>
      </div>

    </div>
  </div>
</div>
